{% extends 'base.html.twig' %}

{% block title %}SANS QUE TU ERRES!{% endblock %}

{% block body %}



	   						 
				<div class="container">
                <h1>Bienvenu chez SQTE, nous somme ravis de vous compter parmi nous contacts,<br> et de vous accompagner en toute sérénité dans  votre requete </h1>
                </div>

            


                {% endblock %}
