
         
                            	{% for  radios  in radio %}
                                <div class="single_post">
                                    <p class="m-b-0">{{radios.titel}}</p>
                                    <span>jun 22, 2018</span>
                                    <div class="img-post">
                                        <img src="https://www.bootdey.com/image/280x280/FFB6C1/000000" alt="Awesome Image">                                        
                                    </div>                                            
                                </div>
                                {% endfor %}
                                {% for  musiques  in musique %}
                                <div class="single_post">
                                    <p class="m-b-0">{{musiques.titel}}</p>
                                    <span>jun 8, 2018</span>
                                    <div class="img-post">
                                        <img src="https://www.bootdey.com/image/280x280/FFB6C1/000000" alt="Awesome Image">                                            
                                    </div>
                                </div>
                                {% endfor %}
                            
			
			
       

