{% extends 'base_menu.html.twig' %}



{% block title %}Documentaire!{% endblock %}

{% block body %}
<div id="wrapper">

				<!-- Main -->
					<section id="main" class="wrapper">
       
   
     <br>
    <div class="container">
     <h2 class="text-center"> {{doc.title}} </h2> 
    <div class="row">
      
        <div class="col-md-5">
           <div class="project-info-box mt-0">
              
              <img src="..." class="rounded mx-auto d-block" alt="...">
              <p>PROJECT DETAILS</p>
            
            </div><!-- / project-info-box -->

            <div class="project-info-box">
            <p></p>
                {# <p><b>Client:</b> CUPCAKE CO</p>
                <p><b>Date:</b> 14.02.2020</p>
                <p><b>Designer:</b> James Doe</p>
                <p><b>Tools:</b> Illustrator</p>
                <p class="mb-0"><b>Budget:</b> $500</p> #}
            </div><!-- / project-info-box -->

            <div class="project-info-box mt-0 mb-0">
                <p class="mb-0">
                    <span class="fw-bold mr-10 va-middle hide-mobile">Partager Cette afiche:</span>
                    <a href="#x" class="btn btn-xs btn-facebook btn-circle btn-icon mr-5 mb-0"><i class="fab fa-facebook-f"></i></a>
                    <a href="#x" class="btn btn-xs btn-twitter btn-circle btn-icon mr-5 mb-0"><i class="fab fa-twitter"></i></a>
                    {# <a href="#x" class="btn btn-xs btn-pinterest btn-circle btn-icon mr-5 mb-0"><i class="fab fa-pinterest"></i></a> #}
                    <a href="#x" class="btn btn-xs btn-linkedin btn-circle btn-icon mr-5 mb-0"><i class="fab fa-linkedin-in"></i></a>
                </p>
            </div><!-- / project-info-box -->
        </div><!-- / column -->

        <div class="col-md-7">
        {# <img src="{{ asset('/upload/galerie/' ~ longue.image )}}" class="img-fluid" alt="..." style="height: 650px; width: 550px;"> #}
            <img src="{{ asset('/upload/galerie/' ~ doc.image )}}" style="height: 550px; width: 650px;" alt="project-image" class="rounded">
            {# <div class="project-info-box">
                <p><b>Categories:</b> Design, Illustration</p>
                <p><b>Skills:</b> Illustrator</p>
            </div><!-- / project-info-box --> #}
        <br></div><!-- / column -->
      
    </div>
      <br><br>
</div>
       
					</section>

			</div>


{% endblock %}
