


     {% for docs in doc %}
            <div class="col-sm-6 col-lg-4 mb-1-9">
                <div class="card-wrapper">
                    <div class="card-img"><img src="{{ asset('upload/galerie/' ~ docs.image)}}" alt="..."></div>
                    <div class="card-body">
                        <div>
                            <h3 class="h5">{{docs.title}}</h3>
                            <p class="display-30">Gravida proin nibh vel velit auctor alique.</p>
                            <a href="{{ path('app_doclong',{'id': docs.id, 'slug': docs.slug})}}" class="read-more">voir plus</a>
                        </div>
                    </div>
                </div>
            </div>

{% endfor %}
        

                    
           
       
         
    