<h1>Votre inscription</h1>

<p> Vous être inscript(e) à la newsletter</p>

<p> Cliquez sur ce lien <a href="{{absoulute_url(path('app_confirm', {id: users.id, token: token}))}}">
{{absoulute_url(path('app_confirm', {id: users.id, token: token}))}}"</a></p>