<footer class="bg-dark footer">
    <div class="footer-top py-8">
        <div class="container">
            <div class="row gy-5">
                <div class="col-lg-8 pe-xxl-10">
                    <div class="row gy-5">
                        <div class="col-6 col-lg-4">
                            <h5 class="text-white footer-title-01">LIENS RAPIDES </h5>
                            <ul class="list-unstyled footer-link-01 m-0">
                                <li><a class="text-white text-opacity-75" href="#">À propos de nous</a></li>
                                <li><a class="text-white text-opacity-75" href="actualite">Actualités</a></li>
                                <li><a class="text-white text-opacity-75" href="/radio">Radio</a></li>
                                <li><a class="text-white text-opacity-75" href="/cinema">Cinéma</a></li>
                                  <li><a class="text-white text-opacity-75" href="/musique">Musique</a></li>
                            </ul>
                        </div>
                        <div class="col-6 col-lg-4">
                            <h5 class="text-white footer-title-01">LIENS POPULAIRES</h5>
                            <ul class="list-unstyled footer-link-01 m-0">
                                <li><a class="text-white text-opacity-75" href="/service">Service</a></li>
                                <li><a class="text-white text-opacity-75" href="/produit">je soutien</a></li>
                                <li><a class="text-white text-opacity-75" href="/cvente">Conditions de vente</a></li>
                                <li><a class="text-white text-opacity-75" href="/cconfidentialite">Confidentialité et politique</a></li>
                                <li><a class="text-white text-opacity-75" href="/cutilisateur">Conditions d'utilisation</a></li>
                            </ul>
                        </div>
                        {# <div class="col-6 col-lg-4">
                            <h5 class="text-white footer-title-01">Need Help?</h5>
                            <ul class="list-unstyled footer-link-01 m-0">
                                <li><a class="text-white text-opacity-75" href="#">Contact Us</a></li>
                                <li><a class="text-white text-opacity-75" href="#">FAQs</a></li>
                                <li><a class="text-white text-opacity-75" href="#">Offers &amp; Kits</a></li>
                                <li><a class="text-white text-opacity-75" href="#">Get the app</a></li>
                                <li><a class="text-white text-opacity-75" href="#">Store locator</a></li>
                            </ul>
                        </div> #}
                    </div>
                </div>
                <div class="col-lg-4">
                    <h5 class="text-white footer-title-01 fs-5">Abonnez-vous à notre newsletter.</h5>
                    <div>
                        <form class="d-flex flex-row mb-2 p-1 bg-white input-group"><input type="email" class="form-control rounded border-0" placeholder="Your Email"> <button class="btn btn-secondary flex-shrink-0" type="submit">Subscribe</button></form>
                        <p class="fs-sm text-white text-opacity-75">J'accepte de recevoir les newsletters Absolution</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom small py-3 border-top border-white border-opacity-10">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start py-1">
                    <p class="m-0 text-white text-opacity-75">© 2024 droits d'auteur <a class="text-reset" href="#">media-dev</a></p>
                </div>
                <div class="col-md-6 text-center text-md-end py-1">
                    <ul class="nav justify-content-center justify-content-md-end list-unstyled footer-link-01 m-0">
                        <li class="p-0 mx-3 ms-md-0 me-md-3"><a href="#" class="text-white text-opacity-75">Mentions légales</a></li>
                        <li class="p-0 mx-3 ms-md-0 me-md-3"><a href="#" class="text-white text-opacity-75">FAQ</a></li>
                        {# <li class="p-0 mx-3 ms-md-0 me-md-3"><a href="#" class="text-white text-opacity-75">Get a Quote</a></li> #}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>