{% extends 'base_menu.html.twig' %}

{% block title %}Festival!{% endblock %}

{% block body %}

<div id="wrapper">

				<!-- Main -->
		<br><br><br>			<section id="main" class="wrapper">
       <div class="container">

    <div class="row">
        <div class="col-md-3 col-sm-6">
            <a href="#" class="gallery-popup" title="Open Imagination">
                <div class="project-item">
                    <div class="overlay-container">
                        <img src="https://www.bootdey.com/image/350x180/87CEFA/000000" alt="img" class="gallery-thumb-img">
                        <div class="project-item-overlay">
                            <h4>Open Imagination</h4>
                            <p>
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="user" class="thumb-sm rounded-circle">
                                <span class="ml-2">Curtis Marion</span>
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3 col-sm-6">
            <a href="#" class="gallery-popup" title="Locked Steel Gate">
                <div class="project-item">
                    <div class="overlay-container">
                        <img src="https://www.bootdey.com/image/350x180/008B8B/000000" alt="img" class="gallery-thumb-img">
                        <div class="project-item-overlay">
                            <h4>Locked Steel Gate</h4>
                            <p>
                                <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="user" class="thumb-sm rounded-circle">
                                <span class="ml-2">Curtis Marion</span>
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3 col-sm-6">
            <a href="#" class="gallery-popup" title="Mac Sunglasses">
                <div class="project-item">
                    <div class="overlay-container">
                        <img src="https://www.bootdey.com/image/350x180/9932CC/000000" alt="img" class="gallery-thumb-img">
                        <div class="project-item-overlay">
                            <h4>Mac Sunglasses</h4>
                            <p>
                                <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="user" class="thumb-sm rounded-circle">
                                <span class="ml-2">Curtis Marion</span>
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3 col-sm-6">
            <a href="#" class="gallery-popup" title="Morning Dew">
                <div class="project-item">
                    <div class="overlay-container">
                        <img src="https://www.bootdey.com/image/350x180/1E90FF/000000" alt="img" class="gallery-thumb-img">
                        <div class="project-item-overlay">
                            <h4>Morning Dew</h4>
                            <p>
                                <img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="user" class="thumb-sm rounded-circle">
                                <span class="ml-2">Curtis Marion</span>
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3 col-sm-6">
            <a href="#" class="gallery-popup" title="Console Activity">
                <div class="project-item">
                    <div class="overlay-container">
                        <img src="https://www.bootdey.com/image/350x180/FF69B4/000000" alt="img" class="gallery-thumb-img">
                        <div class="project-item-overlay">
                            <h4>Console Activity</h4>
                            <p>
                                <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="user" class="thumb-sm rounded-circle">
                                <span class="ml-2">Curtis Marion</span>
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3 col-sm-6">
            <a href="#" class="gallery-popup" title="Shake It!">
                <div class="project-item">
                    <div class="overlay-container">
                        <img src="https://www.bootdey.com/image/350x180/87CEFA/000000" alt="img" class="gallery-thumb-img">
                        <div class="project-item-overlay">
                            <h4>Shake It!</h4>
                            <p>
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="user" class="thumb-sm rounded-circle">
                                <span class="ml-2">Curtis Marion</span>
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3 col-sm-6">
            <a href="#" class="gallery-popup" title="Backpack Content">
                <div class="project-item">
                    <div class="overlay-container">
                        <img src="https://www.bootdey.com/image/350x180/D3D3D3/000000" alt="img" class="gallery-thumb-img">
                        <div class="project-item-overlay">
                            <h4>Backpack Content</h4>
                            <p>
                                <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="user" class="thumb-sm rounded-circle">
                                <span class="ml-2">Curtis Marion</span>
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3 col-sm-6">
            <a href="#" class="gallery-popup" title="Sunset Bulb Glow">
                <div class="project-item">
                    <div class="overlay-container">
                        <img src="https://www.bootdey.com/image/350x180/90EE90/000000" alt="img" class="gallery-thumb-img">
                        <div class="project-item-overlay">
                            <h4>Sunset Bulb Glow</h4>
                            <p>
                                <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="user" class="thumb-sm rounded-circle">
                                <span class="ml-2">Curtis Marion</span>
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3 col-sm-6">
            <a href="#" class="gallery-popup" title="Open Imagination">
                <div class="project-item">
                    <div class="overlay-container">
                        <img src="https://www.bootdey.com/image/350x180/87CEFA/000000" alt="img" class="gallery-thumb-img">
                        <div class="project-item-overlay">
                            <h4>Open Imagination</h4>
                            <p>
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="user" class="thumb-sm rounded-circle">
                                <span class="ml-2">Curtis Marion</span>
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3 col-sm-6">
            <a href="#" class="gallery-popup" title="Console Activity">
                <div class="project-item">
                    <div class="overlay-container">
                        <img src="https://www.bootdey.com/image/350x180/20B2AA/000000" alt="img" class="gallery-thumb-img">
                        <div class="project-item-overlay">
                            <h4>Console Activity</h4>
                            <p>
                                <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="user" class="thumb-sm rounded-circle">
                                <span class="ml-2">Curtis Marion</span>
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3 col-sm-6">
            <a href="#" class="gallery-popup" title="Open Imagination">
                <div class="project-item">
                    <div class="overlay-container">
                        <img src="https://www.bootdey.com/image/350x180/87CEFA/000000" alt="img" class="gallery-thumb-img">
                        <div class="project-item-overlay">
                            <h4>Open Imagination</h4>
                            <p>
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="user" class="thumb-sm rounded-circle">
                                <span class="ml-2">Curtis Marion</span>
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3 col-sm-6">
            <a href="#" class="gallery-popup" title="Shake It!">
                <div class="project-item">
                    <div class="overlay-container">
                        <img src="https://www.bootdey.com/image/350x180/B0C4DE/000000" alt="img" class="gallery-thumb-img">
                        <div class="project-item-overlay">
                            <h4>Shake It!</h4>
                            <p>
                                <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="user" class="thumb-sm rounded-circle">
                                <span class="ml-2">Curtis Marion</span>
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>

    </div>
</div>
                         
					</section>

			</div>
{% endblock %}


