            
            
            {% for festivales in festival %}
            <div class="col-sm-6 col-lg-4 mb-1-9">
                <div class="card-wrapper">
                    <div class="card-img"><img src="https://www.bootdey.com/image/400x400/6495ED/000000" alt="..."></div>
                    <div class="card-body">
                        <div>
                            <h3 class="h5">{{ festivales.titel}}</h3>
                            <p class="display-30">Gravida proin nibh vel velit auctor alique.</p>
                            <a href="{{ path('app_byonefestival',{'id': festivales.id, 'slug':festivales.slug})}}" class=""><i class="bi bi-box-arrow-in-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
           {% endfor %}