{% extends 'base_menu.html.twig' %}

{% block title %}Hello ActualitesController!{% endblock %}

{% block body %}
<div id="wrapper">




    </div>
					</section>




     {{form(form)}}






</div>
{% endblock %}
